# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Django-specific ignores
db.sqlite3  # If using SQLite in development, don't include in production image
media/      # If media files are stored locally and not managed by a separate service
staticfiles/ # If static files are collected during the build process or served by a CDN

# Version control ignores
.git
.gitignore

# Editor/IDE specific ignores
.vscode/
.idea/
*.swp
*~
.DS_Store

# Docker-specific ignores
Dockerfile  # The Dockerfile itself doesn't need to be copied into the image
.dockerignore # The .dockerignore file itself doesn't need to be copied into the image

# Logs and temporary files
*.log
tmp/